{{ctrl.changeMainSection('services')}}
<div services-section>
<div ng-if="ctrl.services != null">
  <br/>
    <div ng-repeat="service in ctrl.services">
      <div class="alert alert-info alert-dismissable fade in">         
      <a href="#/service/{{service.data.id}}/view/">
        {{service.data.getAttVal('Name')}}
      </a>
      </div>
    </div>
    
      
  
<!--    
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Filter</span>
      <input class="form-control" type="text" placeholder="<text to search>" ng-model="appsctrl.appNameFilterSelector"/>
      <span class="input-group-addon" ng-click="appsctrl.clearAppNameFilterSelector()"><i class="glyphicon glyphicon-remove"></i></span>
    </div>

  <ul>
    <li ng-repeat="service in ctrl.serviceList | filter:{name:srvcctrl.serviceNameFilterSelector}">
      <a href="#/service/{{service.data.id}}/view">
        {{service.data.id}}: {{service.name}}
      </a>
    </li>
  </ul>
-->    
</div>

</div>


